* {
  background-color: black;
  font-size: smaller;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.start-txt {
  color: rgb(146, 11, 146);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.game-data {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 35px;
}
.p-target {
  color: greenyellow;
}
.p-real {
  margin-left: 22px;
}
.play-btn {
  position: fixed;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: rgb(146, 11, 146);
  border: 0px solid white;
  padding: 14px;
  font-size: 0.9em;
  color: white;
  /* box-shadow: 4px 4px 0px 0px white; */
  font-family: "Press Start 2P", cursive;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
}
