* {
  background-color: black;
  font-size: smaller;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.start-txt {
  color: rgb(146, 11, 146);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.game-data {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 35px;
}
.p-target {
  color: greenyellow;
  margin-bottom: 0px;
}
.p-real {
  margin: 0px 0px 0px -15px;
  padding: 0;
}
.play-btn {
  position: fixed;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: rgb(146, 11, 146);
  border: 0px solid white;
  padding: 14px;
  font-size: 0.9em;
  color: white;
  /* box-shadow: 4px 4px 0px 0px white; */
  font-family: "Press Start 2P", cursive;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
}

nav {
  position: fixed;
  top: 0%;
  left: 0%;
  font-size: 24px;
  padding: 15px 15px 15px 0;
  color: white;
}
.nav-text {
  color: white;
  padding-left: 20px;
  text-decoration: none;
}
.nav-text:hover {
  color: rgb(247, 101, 255);
}

.score-time-box {
  float: right;
  font-size: 24px;
  background-color: rgb(80, 80, 80);
  color: white;
  margin: 50px 30px 30px 30px;
  padding: 8px;
  -webkit-box-shadow: 0px 4px 13px 0px rgba(48, 26, 74, 0.63);
  box-shadow: 0px 4px 13px 0px rgba(48, 26, 74, 0.63);
}
.score-time-box > p {
  background-color: rgb(80, 80, 80);
  margin: 0;
  padding: 0;
  text-align: left;
}

.game-over {
  position: fixed;
  top: 45%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  background: rgba(117, 9, 117, 0.686);
  border: 0px solid white;
  padding: 14px;
  color: white;
}
.game-over > p {
  text-align: center;
  background-color: rgba(118, 9, 118, 0.686);
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 50px;
  color: white;
}
